#widget-fd0e91a0-c5ae-0299-445e-717796184e69 .header-image {
				height: 168px;
				background-image: url(../attachments/Header/published_image_0.jpg);
				border-radius: 0 0 0 0;background-size: initial;
					background-position: left top;}