* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 5px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    overflow: hidden;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    /* background: white; */
    background: green;
    color: white;
    border-radius: 4px 4px 0px 0px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 35%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 65%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    border-radius: 4px;
}

/* Begin Slideshow */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    overflow:hidden;
    position: relative;
    margin: auto;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    height: 32vw;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media screen and (max-width: 800px) {
    .fade {
	height:85vw;
    }
}
/* Ende Slideshow */


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
    }

    .header {
	font-size: 20px;
    }
}

img {
    border-radius: 4px;
}
