#navigation-bar {
	text-align: left;
}.rtl #navigation-bar {
	text-align: right;
}#navigation-bar li > a {
			
			font-size: 14px;
		}
		#navigation-bar li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-bar li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-bar ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-bar ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-bar li.selected,
		#navigation-bar li.childselected,
		#navigation-bar li.selected:hover,
		#navigation-bar li.childselected:hover,
		#navigation-bar li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-bar li.selected > a,
		#navigation-bar li.childselected > a,
		#navigation-bar li.selected:hover > a,
		#navigation-bar li.childselected:hover > a,
		#navigation-bar li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-bar ul li.selected,
		#navigation-bar ul li.childselected,
		#navigation-bar ul li.selected:hover,
		#navigation-bar ul li.childselected:hover,
		#navigation-bar ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-bar ul li.selected > a,
		#navigation-bar ul li.childselected > a,
		#navigation-bar ul li.selected:hover > a,
		#navigation-bar ul li.childselected:hover > a,
		#navigation-bar ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}


		
		

		#navigation-bar > li.normal > a { color: #2e2e2e;}
		#navigation-bar > li.normal > a { background-color: transparent; } #navigation-bar > li.normal > a { background-image: none; }
		#navigation-bar li.selected > a, #navigation-bar li.childselected > a { color: #4F5B67; }
		#navigation-bar li.selected > a, #navigation-bar li.childselected > a { background-color: transparent; }
		#navigation-bar ul > li.normal > a { color: #4F5B67; }#navigation-bar ul > li.normal > a { background-image: none; }
		#navigation-bar ul > li.normal > a { background-color: transparent; }
		
		#navigation-bar li.normal:hover > a { color: white; }
		#navigation-bar li.normal:hover > a { background-color: #555; } #navigation-bar li.selected > a, #navigation-bar li.childselected > a, #navigation-bar li.normal:hover > a { background-image: none; }.mobile-view #navigation-bar li.selected > a,
		.mobile-view #navigation-bar li.childselected > a { color: #4F5B67; }.mobile-view #navigation-bar li.selected > a,
		.mobile-view #navigation-bar li.childselected > a { background-color: transparent; }.mobile-view #navigation-bar li:hover > a { color: #4F5B67; }.mobile-view #navigation-bar li:hover > a { background-color: transparent; }.mobile-view #navigation-bar ul > li > a { color: #4F5B67; }.mobile-view #navigation-bar ul > li > a { background-color: transparent; }
