* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 5px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    overflow: hidden;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    /* background: white; */
    background: green;
    color: white;
    border-radius: 4px 4px 0px 0px;
}


/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    border-radius: 4px
}

@media screen and (max-width: 800px) {
    .header {
	font-size: 20px;
    }
}

img {
    border-radius: 4px;
}
